

<% form_with(model: [:admin, base_role]) do |form| %>

        <div class="mb-3">
            <%= form.label :name %>
            <%= form.text_field :name %>
            <% if base_role.erros[:name].any? %>
                <div>
                    <%= base_role.errors[:name].first %>
                </div>
            <% end %>
        </div>
        
        <%= form.submit %>
        
<% end %>